<%- include("../partials/head") %>
<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/users/admin.css">
    <main>
        <form id="choice">
            <label ><input type="radio" name="opcion" value="producto" onchange="selectType(this.value)"> Producto</label> 
            <label ><input type="radio" name="opcion" value="usuario" onchange="selectType(this.value)"> Usuario </label>
        </form>
        <section id="toDo">
            <form class="products hidden">
                <label><input type="radio" name="opcion" value="editProduct" onchange="ToDo(this.value)">Editar/Eliminar</label>
                <a href="/admin/products/add" target="_blank"><input type="radio" name="opcion" value="addProduct" onchange="ToDo(this.value)">Añadir</a>
                <label><input type="radio" name="opcion" value="seeProduct" onchange="ToDo(this.value)">Ver</label>
            </form>
            <form class="users hidden">
                <label><input type="radio" name="opcion" value="editUser" onchange="ToDo(this.value)">Editar</label>
                <label><input type="radio" name="opcion" value="deleteUser" onchange="ToDo(this.value)">Elminar</label>
            </form>
        </section>
        <!-- PRODUCTOS -->
        <form class="hidden" id="productType" name="search">
            <select name="tipo">
                <option disabled selected>Tipo de producto</option>
                <option value="placa-de-video">Placa de video</option>
                <option value="procesador">Procesador</option>
                <option value="gabinete">Gabinete</option>
            </select>
            <input type="text" name="name" placeholder="Buscar por nombre del ariticulo" >
            <button type="submit">Buscar</button> 
        </form>
        <a class="hidden newArticle" id="newArticle">Crear nuevo artículo</a>
        <!-- USUARIOS -->
        <form action="" class="hidden inputForm">
            <span style="margin-top: 1em;color: grey;">(Esto todavia no funciona, de hecho no se ni por que lo hice)</span>
            <input type="text" class="inputUser" placeholder="Buscar por email">
            <button type="submit">Buscar</button>
        </form>
        <% if (locals.products) {%>
        <section id="productList" class="hidden">
            <% products.forEach(element => { %>
            <a href="/admin/products/edit/<%=element.id%>">
                <article>
                    <img src="<%=element.img%>" alt="<%=element.nombre%>">
                    <h4><%=element.nombre%></h4>
                    <p><%=element.tipo%></p>
                    <p><%=element.fabricante%></p>
                    <p>$ <%=element.precio%></p>
                    <p>ID: <%=element.id%></p>
                </article>
            </a>
            <% }); %>
        </section>
        <%}%>
        <% if (locals.users) {%>
            <section id="usersList" class="hidden">
                <% users.forEach(element => { %>
                <a href="">
                    <div>
                        <h4 id="elementName"><%=element.name%></h4>
                        <h4 id="elementLastname"><%=element.lastname%></h4>
                        <h4 id="elementEmail"><%=element.email%></h4>
                        <h4 id="elementTel">Tel: <%=element.tel%></h4>
                        <h4 id="elementStatus">Status: <%=element.status%></h4>
                </div>
            </a>
            <% }); %>
        </section>
        <%}%>
    </main>
    <script src="/javascripts/admin.js"></script>
    <%- include("../partials/footer") %>