<%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/index.css">
  <body>
    <%- include('partials/header') %>
    <main>
    <div id="baner">
      <img src="images/Logo-banner/Potenciar.jpg" alt="futuro banner">
    </div>
    <div class="box-destacados">
      <h5>Productos destacados</h5>
      <i class="fa-solid fa-arrow-left"></i>
      <i class="fa-solid fa-arrow-right"></i>
      <div class="destacados">
        <% productos.forEach(product => { %>
          <article class="product-box">
            <a href="/product/<%= product.nombre %>">
              <% if (product.imagenes.length > 0) { %>
                <img src="<%= product.imagenes[0] %>" alt="<%= product.nombre %>">
              <% } else { %>
                <img alt="Imagen no disponible">
              <% } %>
              <h4 class="nombre"><%= product.nombre %></h4>
              <h4 class="precio"><strong>$ <%= product.precio %></strong></h4> 
            </a>
          </article>
        <% }) %>
      </div>
    </div>
    <script src="/javascripts/app.js"></script>
  </main>
    <%- include('partials/footer') %>


