<%- include("../partials/head") %>
    <%- include("../partials/header")%>
    <link rel="stylesheet" href="/stylesheets/users/login.css">
    <main>
    <form action="/users/login" method="POST">
      <h3>Inicio de sesion</h3>
      <input type="text" name="email" id="email" placeholder="Ingrese su Email" oninput="validateAll()" value="<%= locals.email ? email : ''%>" required>
      <input type="password" name="password" id="password" placeholder="Ingrese su contaseña" oninput="validateAll()" required>
      <span id="validations" style="height: 2.2rem; margin-top: 10px; color: rgb(41, 41, 41); padding: 5px; border-radius: 2px;"></span>
      <% if (locals.errors) {%>
        <ul>
        <% for (const key in errors) {%>
          <% if (errors[key].msg) { %>
            <li><%=errors[key].msg%></li>
        <%}}; %>
        </ul>
        <% } %>
      <div class="buttons">
      <a href="/users/register">Registrarme</a>
      <a href="/users/login">Olvide mi clave</a>
      </div>
      <div class="rememberMe">
        <input type="checkbox" name="rememberMe" id="rememberMe">
        <label for="rememberMe">Mantener sesión abierta</label>
      </div>

      <button id="btn" type="submit" disabled>Iniciar sesion</button>
    </form>
  
  </main>
    <%- include("../partials/footer") %>
  </body>
  
<script src="/javascripts/login.js"></script>


</html>