<%- include("../partials/head") %>
<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/users/register.css">
<main>
<form action="/users/register" method="POST">
  <h4>No estas registrado? Por favor, completá los campos con tus datos</h4>
  <div class="primera">
    <input type="text" name="email" id="mail" placeholder="E-mail" value="<%= locals.email ? email : ''%>" >
    <input type="password" name="password" id="password" placeholder="Contraseña" value="<%= locals.password ? password : '' %>">
    <input type="password" name="confPassword" id="confPassword" placeholder="Repite tu contraseña" value="<%= locals.password ? password : ''%>">
  </div>
  <div class="segunda">
    <input type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.name ? name : '' %>">
    <input type="text" name="lastname" id="lastname" placeholder="Apellido" value="<%= locals.lastname ? lastname : ''%>">
  </div>
  <div class="tercera">
    <select name="provincia" id="prov">
      <option value="" disabled selected >Selecciona una opción</option>
      <option value="1">Buenos Aires</option>
      <option value="2">Entre Ríos</option>
      <option value="3">Santa Fé</option>
    </select>
    <input type="text" name="location" id="location" placeholder="Localidad">
    <input type="text" name="postal" id="postal" placeholder="Código postal">
  </div>
  <div class="cuarta">
    <input type="text" name="adress" id="adress" placeholder="Direccion" >
    <input type="tel" name="tel" id="contactnumber" placeholder="Teléfono de contacto" value="<%= locals.tel ? tel : ''%>">
  </div>
  <div class="errors">
  <% if (locals.errors) {%>
    <ul> 
    <% for (const key in errors) {%>
      <% if (errors[key].msg) { %>
        <li><%=errors[key].msg%></li>
    <%}}; %>
    </ul>
    <% } %>
  </div>
  <button type="submit">Registrar</button>
</form>
</main>
<script src="/javascripts/register.js"></script>
<%- include("../partials/footer") %>
